body {
  font-family: "Roboto", sans-serif;
  background-color: #1e202b;
}
/* ========== nav bar ========== */
nav {
  color: #fff;
}
.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus {
  display: flex;
  align-items: center;
  color: #fff;
}
.navbar-brand img {
  margin-right: 10px;
}
.navbar-brand h1 {
  font-size: 16px;
  margin-bottom: 0;
}
.navbar-brand span {
  font-size: 10px;
  color: #bfc1c8;
  display: block;
}
nav .nav-link,
nav .nav-link:focus {
  color: #fff;
  margin: 10px 10px 10px 0;
  transition: 0.5s;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.show {
  color: #009ad8;
}
.navbar-nav a.nav-link {
  border: 2px solid transparent;
  border-radius: 30px;
  padding: 5px 25px !important;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  border-color: #009ad8;
}

.navbar-toggler {
  color: #fff;
}
.navbar-toggler:hover {
  color: #009ad8;
}

/* ========== home ========== */
#home {
  background-image: url("../assets/asset\ 6.png");
  background-repeat: no-repeat;
  padding: 70px 0;
  min-height: 350px;
}
#home form {
  position: relative;
  margin-bottom: 70px;
}
#home input {
  background-color: #1e202b;
  color: white;
  border: none;
  padding: 20px 50px 20px 20px;
  position: relative;
}
#home input::placeholder {
  color: #c1c1c1;
}
#home button {
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 7px;
  padding: 0 40px;
  background-color: #009ad8;
  color: #fff;
  border-radius: 30px;
  outline: none;
  border: none;
}
/* ===== forecast of weather ===== */
#home .forecast {
  color: white;
  font-size: 14px;
}
#home .forecast .row > div {
  background-color: #323544;
  padding-left: 0;
  padding-right: 0;
}
#home .forecast .row > div:nth-child(2) {
  background-color: #262936;
}
#home .forecast .date {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
}
#home .forecast .weather {
  padding: 20px;
}
#home .forecast .weather .degree {
  font-size: 90px;
  font-weight: bold;
}
#home .forecast .weather .status {
  color: #009ad8;
  margin: 20px 0;
}
#home .forecast .weather .info span {
  margin-right: 15px;
}
#home .forecast .weather .info span img {
  margin-right: 5px;
}
